<div class="container">
  <div class="logo"><a href="{:url('backstage/index/index')}">CMS</a></div>
  <div class="left_open"> <i title="展开左侧栏" class="iconfont">&#xe699;</i> </div>
  <ul class="layui-nav right" lay-filter="">
    <li class="layui-nav-item"> <a href="javascript:;">{$uname}</a>
      <dl class="layui-nav-child">
        <dd><a href="{:url('Logout/logout')}">退出</a></dd>
      </dl>
    </li>
    <li class="layui-nav-item to-index"><a href="/" target="_blank">前台首页</a></li>
  </ul>
</div>
