<div class="left-nav">
  <div id="side-nav">
    <ul id="nav">
      <li> <a href="javascript:;"> <i class="iconfont">&#xe723;</i> <cite>数据管理</cite> <i class="iconfont nav_right">&#xe697;</i> </a>
        <ul class="sub-menu">
          <li> <a _href="{:url('datas/lst')}"> <i class="iconfont">&#xe6a7;</i> <cite>数据列表</cite> </a> </li >
        </ul>
      </li>
      {if condition="$userStatus eq 1"}
      <li> <a href="javascript:;"> <i class="iconfont">&#xe723;</i> <cite>用户管理</cite> <i class="iconfont nav_right">&#xe697;</i> </a>
        <ul class="sub-menu">
          <li> <a _href="{:url('user/lst')}"> <i class="iconfont">&#xe6a7;</i> <cite>用户列表</cite> </a> </li >
        </ul>
      </li>
      <li> <a href="javascript:;"> <i class="iconfont">&#xe723;</i> <cite>权限配置</cite> <i class="iconfont nav_right">&#xe697;</i> </a>
        <ul class="sub-menu">
          <li> <a _href="{:url('auth_rule/lst')}"> <i class="iconfont">&#xe6a7;</i> <cite>规则管理</cite> </a> </li >
          <li> <a _href="{:url('auth_group/lst')}"> <i class="iconfont">&#xe6a7;</i> <cite>用户组管理</cite> </a> </li >
        </ul>
      </li>
      {/if}
    </ul>
  </div>
</div>
<!-- <div class="x-slide_left"></div> -->